# Игнорируем временные папки, логи и кэш
.cache/
.mixin.out/
.sable/
cache/
crash-reports/
downloads/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
fancymenu_data/
local/
logs/
moddata/
screenshots/
server-resource-packs/

# Личные сохранения, бэкапы и карты
saves/
xaero/
XaeroWaypoints_BACKUP240807/
options.txt
emi.json
defaultconfigs/
data/

# Мелкий мусор
.qmenu_opened.marker
command_history.txt
patchouli_data.json
ponders_watched.json
servers.dat_old
usercache.json
usernamecache.json

# ИГНОРИРУЕМ ВСЕ КОНФИГИ, КРОМЕ ДВУХ НУЖНЫХ
config/*
!config/fancymenu/
!config/ftbquests/