# 1. Игнорируем вообще всё на свете
*

# 2. РАЗРЕШЕННЫЕ КОРНЕВЫЕ ПАПКИ (открываем к ним доступ)
!mods/
!resourcepacks/
!shaderpacks/
!texturepacks/

# 3. МАГИЯ ДЛЯ ПАПКИ CONFIG
# Разрешаем Гиту зайти в саму папку config
!config/
# Но при этом игнорируем абсолютно всё, что находится внутри config...
config/*
# ...КРОМЕ двух твоих любимых папок!
!config/fancymenu/
!config/ftbquests/

# 4. РАЗРЕШЕННЫЕ ФАЙЛЫ В КОРНЕ
!emi.json
!icon.png
!servers.dat
!.gitignore
!update.bat

# 5. СИСТЕМНОЕ ПРАВИЛО
# Разрешает Гиту заглядывать внутрь ВСЕХ разрешенных папок на любую глубину
!*/